{% extends 'main.html' %}

{% block content %}
<main class="auth layout">
    <div class="container">
        <div class="layout__box">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <h3>{{ page_title }}</h3>
                </div>
            </div>
            <div class="layout__body">
                <h2 class="auth__tagline">Share and discover recipes</h2>

                {% if page == 'login' %}
                <form class="form" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    {% if error %}
                    <div class="form__error">
                        {{ error }}
                    </div>
                    {% endif %}
                    <div class="form__group">
                        <label for="email">Email</label>
                        <input id="email" name="email" type="email" placeholder="e.g. user@example.com" required />
                    </div>
                    <div class="form__group">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" placeholder="••••••••" required />
                    </div>
                    <button class="btn btn--main" type="submit">Login</button>
                </form>
                <div class="auth__action">
                    <p>Don't have an account?</p>
                    <a href="{% url 'register' %}" class="btn btn--link">Sign Up</a>
                </div>

                {% else %}
                <form class="form" action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form__group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                        <div class="form__error">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button class="btn btn--main" type="submit">Register</button>
                </form>
                <div class="auth__action">
                    <p>Already have an account?</p>
                    <a href="{% url 'login' %}" class="btn btn--link">Login</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}
